openapi: 3.0.1
info:
  title: Postmark Account Activate Bounces API API
  description: 'Postmark makes sending and receiving email incredibly easy. The Account-level API allows users to

    configure all Servers, Domains, and Sender Signatures associated

    with an Account.

    '
  version: 0.9.0
servers:
- url: //api.postmarkapp.com/
tags:
- name: Bounces API
paths:
  /deliverystats:
    get:
      operationId: getDeliveryStats
      summary: Postmark Get delivery stats
      tags:
      - Bounces API
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        type: string
        in: header
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeliveryStatsResponse'
        422:
          $ref: '#/responses/422'
        500:
          $ref: '#/responses/500'
  /bounces:
    get:
      operationId: getBounces
      tags:
      - Bounces API
      summary: Postmark Get bounces
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        type: string
        in: header
      - name: count
        in: query
        description: Number of bounces to return per request. Max 500.
        type: integer
        maximum: 500
        required: true
      - name: offset
        description: Number of bounces to skip.
        in: query
        required: true
        type: integer
      - name: type
        description: Filter by type of bounce
        in: query
        type: string
        enum:
        - HardBounce
        - Transient
        - Unsubscribe
        - Subscribe
        - AutoResponder
        - AddressChange
        - DnsError
        - SpamNotification
        - OpenRelayTest
        - Unknown
        - SoftBounce
        - VirusNotification
        - MailFrontier Matador.
        - BadEmailAddress
        - SpamComplaint
        - ManuallyDeactivated
        - Unconfirmed
        - Blocked
        - SMTPApiError
        - InboundError
        - DMARCPolicy
        - TemplateRenderingFailed
      - name: inactive
        description: Filter by emails that were deactivated by Postmark due to the bounce. Set to true or false. If this isn't specified it will return both active and inactive.
        in: query
        type: boolean
      - name: emailFilter
        in: query
        description: Filter by email address
        type: string
        format: email
      - name: messageID
        description: Filter by messageID
        in: query
        type: string
      - name: tag
        description: Filter by tag
        type: string
        in: query
      - name: todate
        in: query
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        type: string
        format: date
      - name: fromdate
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        in: query
        type: string
        format: date
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BounceSearchResponse'
        422:
          $ref: '#/responses/422'
        500:
          $ref: '#/responses/500'
  /bounces/{bounceid}:
    get:
      operationId: getSingleBounce
      tags:
      - Bounces API
      summary: Postmark Get a single bounce
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        type: string
        in: header
      - name: bounceid
        in: path
        description: The ID of the bounce to retrieve.
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BounceInfoResponse'
        422:
          $ref: '#/responses/422'
        500:
          $ref: '#/responses/500'
  /bounces/{bounceid}/dump:
    get:
      tags:
      - Bounces API
      summary: Postmark Get bounce dump
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        type: string
        in: header
      - name: bounceid
        in: path
        description: The ID for the bounce dump to retrieve.
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BounceDumpResponse'
        422:
          $ref: '#/responses/422'
        500:
          $ref: '#/responses/500'
  /bounces/{bounceid}/activate:
    put:
      operationId: activateBounce
      tags:
      - Bounces API
      summary: Postmark Activate a bounce
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        type: string
        in: header
      - name: bounceid
        in: path
        description: The ID of the Bounce to activate.
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BounceActivationResponse'
        422:
          $ref: '#/responses/422'
        500:
          $ref: '#/responses/500'
definitions:
  DeliveryStatsResponse:
    description: ''
    properties:
      InactiveMails:
        type: integer
      Bounces:
        type: array
        items:
          $ref: '#/definitions/BounceCountElement'
  BounceCountElement:
    properties:
      Name:
        type: string
      Count:
        type: integer
      Type:
        type: string
  BounceDumpResponse:
    properties:
      Body:
        description: Raw source of bounce. If no dump is available this will return an empty string.
        type: string
  BounceActivationResponse:
    properties:
      Message:
        type: string
      Bounce:
        $ref: '#/definitions/BounceInfoResponse'
  BounceSearchResponse:
    description: ''
    properties:
      TotalCount:
        type: integer
      Bounces:
        type: array
        items:
          $ref: '#/definitions/BounceInfoResponse'
  BounceInfoResponse:
    properties:
      ID:
        type: string
      Type:
        type: string
      TypeCode:
        type: integer
      Name:
        type: string
      Tag:
        type: string
      MessageID:
        type: string
      Description:
        type: string
      Details:
        type: string
      Email:
        type: string
        format: email
      BouncedAt:
        type: string
        format: date-time
      DumpAvailable:
        type: boolean
      Inactive:
        type: boolean
      CanActivate:
        type: boolean
      Subject:
        type: string
      Content:
        type: string
