openapi: 3.0.1
info:
  title: Postmark Account Activate Templates API
  description: 'Postmark makes sending and receiving email incredibly easy. The Account-level API allows users to

    configure all Servers, Domains, and Sender Signatures associated

    with an Account.

    '
  version: 0.9.0
servers:
- url: //api.postmarkapp.com/
tags:
- name: Templates
paths:
  /email/batchWithTemplates:
    post:
      tags:
      - Templates
      summary: Postmark Send a batch of email using templates.
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /templates:
    get:
      tags:
      - Templates
      summary: Postmark Get the Templates associated with this Server
      parameters:
      - name: count
        in: query
        schema:
          type: string
        description: Number of bounces to return per request. Max 500.
        example: <integer>
      - name: offset
        in: query
        schema:
          type: string
        description: Number of bounces to skip.
        example: <integer>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /templates/validate:
    post:
      tags:
      - Templates
      summary: Postmark Test Template Content
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /templates/{templateIdOrAlias}:
    delete:
      tags:
      - Templates
      summary: Postmark Delete a Template
      parameters:
      - name: templateIdOrAlias
        in: path
        schema:
          type: string
        required: true
        description: The 'TemplateID' or 'Alias' value for the Template you wish to delete.
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
