openapi: 3.0.1
info:
  title: Postmark Account Activate Sender Signatures API API
  description: 'Postmark makes sending and receiving email incredibly easy. The Account-level API allows users to

    configure all Servers, Domains, and Sender Signatures associated

    with an Account.

    '
  version: 0.9.0
servers:
- url: //api.postmarkapp.com/
tags:
- name: Sender Signatures API
paths:
  /senders:
    get:
      tags:
      - Sender Signatures API
      summary: Postmark List Sender Signatures
      operationId: listSenderSignatures
      parameters:
      - name: X-Postmark-Account-Token
        in: header
        description: The token associated with the Account on which this request will operate.
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: Number of records to return per request. Max 500.
        required: true
        schema:
          maximum: 500
          minimum: 1
          type: integer
      - name: offset
        in: query
        description: Number of records to skip
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderListingResults'
        '422':
          description: An error was generated due to incorrect use of the API. See the Message associated with this response for more information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '500':
          description: Indicates an internal server error occurred.
          content: {}
    post:
      tags:
      - Sender Signatures API
      summary: Postmark Create a Sender Signature
      operationId: createSenderSignature
      parameters:
      - name: X-Postmark-Account-Token
        in: header
        description: The token associated with the Account on which this request will operate.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SenderSignatureCreationModel'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderSignatureExtendedInformation'
        '422':
          description: An error was generated due to incorrect use of the API. See the Message associated with this response for more information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '500':
          description: Indicates an internal server error occurred.
          content: {}
      x-codegen-request-body-name: body
  /senders/{signatureid}:
    get:
      tags:
      - Sender Signatures API
      summary: Postmark Get a Sender Signature
      operationId: getSenderSignature
      parameters:
      - name: X-Postmark-Account-Token
        in: header
        description: The token associated with the Account on which this request will operate.
        required: true
        schema:
          type: string
      - name: signatureid
        in: path
        description: The ID for the Sender Signature that should be retrieved.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderSignatureExtendedInformation'
        '422':
          description: An error was generated due to incorrect use of the API. See the Message associated with this response for more information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '500':
          description: Indicates an internal server error occurred.
          content: {}
    put:
      tags:
      - Sender Signatures API
      summary: Postmark Update a Sender Signature
      operationId: editSenderSignature
      parameters:
      - name: X-Postmark-Account-Token
        in: header
        description: The token associated with the Account on which this request will operate.
        required: true
        schema:
          type: string
      - name: signatureid
        in: path
        description: The ID for the Sender Signature that should be modified by the request.
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SenderSignatureEditingModel'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderSignatureExtendedInformation'
        '422':
          description: An error was generated due to incorrect use of the API. See the Message associated with this response for more information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '500':
          description: Indicates an internal server error occurred.
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Sender Signatures API
      summary: Postmark Delete a Sender Signature
      operationId: deleteSenderSignature
      parameters:
      - name: X-Postmark-Account-Token
        in: header
        description: The token associated with the Account on which this request will operate.
        required: true
        schema:
          type: string
      - name: signatureid
        in: path
        description: The ID for the Sender Signature that should be deleted by the request.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '422':
          description: An error was generated due to incorrect use of the API. See the Message associated with this response for more information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '500':
          description: Indicates an internal server error occurred.
          content: {}
  /senders/{signatureid}/resend:
    post:
      tags:
      - Sender Signatures API
      summary: Postmark Resend Signature Confirmation Email
      operationId: resendSenderSignatureConfirmationEmail
      parameters:
      - name: X-Postmark-Account-Token
        in: header
        description: The token associated with the Account on which this request will operate.
        required: true
        schema:
          type: string
      - name: signatureid
        in: path
        description: The ID for the Sender Signature that should have its confirmation email resent.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '422':
          description: An error was generated due to incorrect use of the API. See the Message associated with this response for more information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '500':
          description: Indicates an internal server error occurred.
          content: {}
  /senders/{signatureid}/verifyspf:
    post:
      tags:
      - Sender Signatures API
      summary: Postmark Request DNS Verification for SPF
      operationId: requestSPFVerificationForSenderSignature
      parameters:
      - name: X-Postmark-Account-Token
        in: header
        description: The token associated with the Account on which this request will operate.
        required: true
        schema:
          type: string
      - name: signatureid
        in: path
        description: The ID for the Sender Signature for which SPF DNS records should be verified.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderSignatureExtendedInformation'
        '422':
          description: An error was generated due to incorrect use of the API. See the Message associated with this response for more information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '500':
          description: Indicates an internal server error occurred.
          content: {}
  /senders/{signatureid}/requestnewdkim:
    post:
      tags:
      - Sender Signatures API
      summary: Postmark Request a new DKIM Key
      description: 'Requests a new DKIM key to be created. Until the DNS entries are confirmed,

        the new values will be in the `DKIMPendingHost` and `DKIMPendingTextValue` fields.

        After the new DKIM value is verified in DNS, the pending values will migrate to

        `DKIMTextValue` and `DKIMPendingTextValue` and Postmark will begin to sign emails

        with the new DKIM key.

        '
      operationId: requestNewDKIMKeyForSenderSignature
      parameters:
      - name: X-Postmark-Account-Token
        in: header
        description: The token associated with the Account on which this request will operate.
        required: true
        schema:
          type: string
      - name: signatureid
        in: path
        description: The ID for the Sender Signature for which a new DKIM Key should be generated.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '422':
          description: An error was generated due to incorrect use of the API. See the Message associated with this response for more information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        '500':
          description: Indicates an internal server error occurred.
          content: {}
components:
  schemas:
    SenderSignatureInformation:
      type: object
      properties:
        Domain:
          type: string
        EmailAddress:
          type: string
          format: email
        ReplyToEmailAddress:
          type: string
          format: email
        Name:
          type: string
        Confirmed:
          type: boolean
        ID:
          type: integer
          format: int64
      description: ''
    SenderSignatureExtendedInformation:
      type: object
      properties:
        Domain:
          type: string
        EmailAddress:
          type: string
          format: email
        ReplyToEmailAddress:
          type: string
          format: email
        Name:
          type: string
        Confirmed:
          type: boolean
        SPFVerified:
          type: boolean
        SPFHost:
          type: string
        SPFTextValue:
          type: string
        DKIMVerified:
          type: boolean
        WeakDKIM:
          type: boolean
        DKIMHost:
          type: string
        DKIMTestValue:
          type: string
        DKIMPendingHost:
          type: string
        DKIMPendingTextValue:
          type: string
        DKIMRevokedHost:
          type: string
        DKIMRevokedTextValue:
          type: string
        SafeToRemoveRevokedKeyFromDNS:
          type: boolean
        DKIMUpdateStatus:
          type: string
        ReturnPathDomain:
          type: string
        ReturnPathDomainVerified:
          type: boolean
        ReturnPathDomainCNAMEValue:
          type: string
        ID:
          type: integer
          format: int64
      description: ''
    SenderSignatureCreationModel:
      type: object
      properties:
        FromEmail:
          type: string
          format: email
        Name:
          type: string
        ReplyToEmail:
          type: string
          format: email
        ReturnPathDomain:
          type: string
      description: ''
    SenderListingResults:
      type: object
      properties:
        TotalCount:
          type: integer
        SenderSignatures:
          type: array
          items:
            $ref: '#/components/schemas/SenderSignatureInformation'
      description: ''
    StandardPostmarkResponse:
      type: object
      properties:
        ErrorCode:
          type: integer
        Message:
          type: string
      description: A Postmark API error.
    SenderSignatureEditingModel:
      type: object
      properties:
        Name:
          type: string
        ReplyToEmail:
          type: string
          format: email
        ReturnPathDomain:
          type: string
      description: ''
