openapi: 3.0.1
info:
  title: Postmark Account Activate Messages > Outbound > Opens API
  description: 'Postmark makes sending and receiving email incredibly easy. The Account-level API allows users to

    configure all Servers, Domains, and Sender Signatures associated

    with an Account.

    '
  version: 0.9.0
servers:
- url: //api.postmarkapp.com/
tags:
- name: Messages > Outbound > Opens
paths:
  /messages/outbound/opens:
    get:
      tags:
      - Messages > Outbound > Opens
      summary: Postmark Opens for all messages
      parameters:
      - name: count
        in: query
        schema:
          type: string
        description: Number of bounces to return per request. Max 500.
        example: <integer>
      - name: offset
        in: query
        schema:
          type: string
        description: Number of bounces to skip.
        example: <integer>
      - name: recipient
        in: query
        schema:
          type: string
        description: Filter by the user who was receiving the email
        example: <string>
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: client_name
        in: query
        schema:
          type: string
        description: Filter by client name, i.e. Outlook, Gmail
        example: <string>
      - name: client_company
        in: query
        schema:
          type: string
        description: Filter by company, i.e. Microsoft, Apple, Google
        example: <string>
      - name: client_family
        in: query
        schema:
          type: string
        description: Filter by client family, i.e. OS X, Chrome
        example: <string>
      - name: os_name
        in: query
        schema:
          type: string
        description: Filter by full OS name and specific version, i.e. OS X 10.9 Mavericks, Windows 7
        example: <string>
      - name: os_family
        in: query
        schema:
          type: string
        description: Filter by kind of OS used without specific version, i.e. OS X, Windows
        example: <string>
      - name: os_company
        in: query
        schema:
          type: string
        description: Filter by company which produced the OS, i.e. Apple Computer, Inc., Microsoft Corporation
        example: <string>
      - name: platform
        in: query
        schema:
          type: string
        description: Filter by platform, i.e. webmail, desktop, mobile
        example: <string>
      - name: country
        in: query
        schema:
          type: string
        description: Filter by country messages were opened in, i.e. Denmark, Russia
        example: <string>
      - name: region
        in: query
        schema:
          type: string
        description: Filter by full name of region messages were opened in, i.e. Moscow, New York
        example: <string>
      - name: city
        in: query
        schema:
          type: string
        description: Filter by full name of region messages were opened in, i.e. Moscow, New York
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
