openapi: 3.0.1
info:
  title: Postmark Account Activate Bounceid API
  description: 'Postmark makes sending and receiving email incredibly easy. The Account-level API allows users to

    configure all Servers, Domains, and Sender Signatures associated

    with an Account.

    '
  version: 0.9.0
servers:
- url: //api.postmarkapp.com/
tags:
- name: Bounceid
paths:
  /bounces/{bounceid}:
    get:
      tags:
      - Bounceid
      summary: Postmark Get a single bounce
      parameters:
      - name: bounceid
        in: path
        schema:
          type: string
        required: true
        description: The ID of the bounce to retrieve.
        example: <integer>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /bounces/{bounceid}/activate:
    put:
      tags:
      - Bounceid
      summary: Postmark Activate a bounce
      requestBody:
        content: {}
      parameters:
      - name: bounceid
        in: path
        schema:
          type: string
        required: true
        description: The ID of the bounce to retrieve.
        example: <integer>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /bounces/{bounceid}/dump:
    get:
      tags:
      - Bounceid
      summary: Postmark Get bounce dump
      parameters:
      - name: bounceid
        in: path
        schema:
          type: string
        required: true
        description: The ID of the bounce to retrieve.
        example: <integer>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
