openapi: 3.0.1
info:
  title: Postmark Account Activate Server Configuration API API
  description: 'Postmark makes sending and receiving email incredibly easy. The Account-level API allows users to

    configure all Servers, Domains, and Sender Signatures associated

    with an Account.

    '
  version: 0.9.0
servers:
- url: //api.postmarkapp.com/
tags:
- name: Server Configuration API
paths:
  /server:
    get:
      summary: Postmark Get Server Configuration
      operationId: getCurrentServerConfiguration
      tags:
      - Server Configuration API
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        type: string
        in: header
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerConfigurationResponse'
        422:
          $ref: '#/responses/422'
        500:
          $ref: '#/responses/500'
    put:
      summary: Postmark Edit Server Configuration
      operationId: editCurrentServerConfiguration
      tags:
      - Server Configuration API
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        type: string
        in: header
      - name: body
        description: The settings that should be modified for the current server.
        in: body
        schema:
          $ref: '#/definitions/EditServerConfigurationRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerConfigurationResponse'
        422:
          $ref: '#/responses/422'
        500:
          $ref: '#/responses/500'
definitions:
  ServerConfigurationResponse:
    properties:
      ID:
        type: integer
      Name:
        type: string
      ApiTokens:
        type: array
        items:
          type: string
      ServerLink:
        type: string
      Color:
        type: string
        enum:
        - purple
        - blue
        - turqoise
        - green
        - red
        - yellow
        - grey
      InboundAddress:
        type: string
        format: email
      RawEmailEnabled:
        type: boolean
      DeliveryHookUrl:
        type: string
      SmtpApiActivated:
        type: boolean
      InboundHookUrl:
        type: string
      BounceHookUrl:
        type: string
      OpenHookUrl:
        type: string
      PostFirstOpenOnly:
        type: boolean
      TrackOpens:
        type: boolean
      TrackLinks:
        type: string
        enum:
        - None
        - HtmlAndText
        - HtmlOnly
        - TextOnly
      ClickHookUrl:
        type: string
      InboundDomain:
        type: string
      InboundHash:
        type: string
      InboundSpamThreshold:
        type: integer
  EditServerConfigurationRequest:
    properties:
      Name:
        type: string
      Color:
        type: string
        enum:
        - purple
        - blue
        - turqoise
        - green
        - red
        - yellow
        - grey
      RawEmailEnabled:
        type: boolean
      DeliveryHookUrl:
        type: string
      SmtpApiActivated:
        type: boolean
      InboundHookUrl:
        type: string
      BounceHookUrl:
        type: string
      OpenHookUrl:
        type: string
      PostFirstOpenOnly:
        type: boolean
      TrackOpens:
        type: boolean
      TrackLinks:
        type: string
        enum:
        - None
        - HtmlAndText
        - HtmlOnly
        - TextOnly
      ClickHookUrl:
        description: Webhook url allowing real-time notification when tracked links are clicked.
        type: string
      InboundDomain:
        type: string
      InboundSpamThreshold:
        type: integer
