openapi: 3.0.1
info:
  title: Postmark Account Activate Triggers API
  description: 'Postmark makes sending and receiving email incredibly easy. The Account-level API allows users to

    configure all Servers, Domains, and Sender Signatures associated

    with an Account.

    '
  version: 0.9.0
servers:
- url: //api.postmarkapp.com/
tags:
- name: Triggers
paths:
  /triggers/inboundrules:
    get:
      tags:
      - Triggers
      summary: Postmark List inbound rule triggers
      parameters:
      - name: count
        in: query
        schema:
          type: string
        description: Number of bounces to return per request. Max 500.
        example: <integer>
      - name: offset
        in: query
        schema:
          type: string
        description: Number of bounces to skip.
        example: <integer>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /triggers/inboundrules/{triggerid}:
    delete:
      tags:
      - Triggers
      summary: Postmark Delete a single trigger
      parameters:
      - name: triggerid
        in: path
        schema:
          type: string
        required: true
        description: The ID of the Inbound Rule that should be deleted.
        example: <integer>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /triggers/tags:
    get:
      tags:
      - Triggers
      summary: Postmark Search triggers
      parameters:
      - name: count
        in: query
        schema:
          type: string
        description: Number of bounces to return per request. Max 500.
        example: <integer>
      - name: offset
        in: query
        schema:
          type: string
        description: Number of bounces to skip.
        example: <integer>
      - name: match_name
        in: query
        schema:
          type: string
        description: Filter by delivery tag
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /triggers/tags/{triggerid}:
    delete:
      tags:
      - Triggers
      summary: Postmark Delete a single trigger
      parameters:
      - name: triggerid
        in: path
        schema:
          type: string
        required: true
        description: The ID of the Inbound Rule that should be deleted.
        example: <integer>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
