openapi: 3.2.0
info:
  title: Postmark Server Server Configuration API
  description: 'Postmark makes sending and receiving email

    incredibly easy.'
  version: 1.0.0
servers:
- url: https://api.postmarkapp.com/
tags:
- name: Server Configuration API
paths:
  /server:
    get:
      summary: Postmark Get Server Configuration
      operationId: getCurrentServerConfiguration
      tags:
      - Server Configuration API
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        in: header
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfigurationResponse'
        422:
          $ref: '#/components/responses/422'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Postmark Edit Server Configuration
      operationId: editCurrentServerConfiguration
      tags:
      - Server Configuration API
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        in: header
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfigurationResponse'
        422:
          $ref: '#/components/responses/422'
        500:
          $ref: '#/components/responses/500'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditServerConfigurationRequest'
        description: The settings that should be modified for the current server.
components:
  schemas:
    ServerConfigurationResponse:
      properties:
        ID:
          type: integer
        Name:
          type: string
        ApiTokens:
          type: array
          items:
            type: string
        ServerLink:
          type: string
        Color:
          type: string
          enum:
          - purple
          - blue
          - turqoise
          - green
          - red
          - yellow
          - grey
        InboundAddress:
          type: string
          format: email
        RawEmailEnabled:
          type: boolean
        DeliveryHookUrl:
          type: string
        SmtpApiActivated:
          type: boolean
        InboundHookUrl:
          type: string
        BounceHookUrl:
          type: string
        OpenHookUrl:
          type: string
        PostFirstOpenOnly:
          type: boolean
        TrackOpens:
          type: boolean
        TrackLinks:
          type: string
          enum:
          - None
          - HtmlAndText
          - HtmlOnly
          - TextOnly
        ClickHookUrl:
          type: string
        InboundDomain:
          type: string
        InboundHash:
          type: string
        InboundSpamThreshold:
          type: integer
    EditServerConfigurationRequest:
      properties:
        Name:
          type: string
        Color:
          type: string
          enum:
          - purple
          - blue
          - turqoise
          - green
          - red
          - yellow
          - grey
        RawEmailEnabled:
          type: boolean
        DeliveryHookUrl:
          type: string
        SmtpApiActivated:
          type: boolean
        InboundHookUrl:
          type: string
        BounceHookUrl:
          type: string
        OpenHookUrl:
          type: string
        PostFirstOpenOnly:
          type: boolean
        TrackOpens:
          type: boolean
        TrackLinks:
          type: string
          enum:
          - None
          - HtmlAndText
          - HtmlOnly
          - TextOnly
        ClickHookUrl:
          description: Webhook url allowing real-time notification when tracked links are clicked.
          type: string
        InboundDomain:
          type: string
        InboundSpamThreshold:
          type: integer
