openapi: 3.2.0
info:
  title: Postmark Server Bounces API
  description: 'Postmark makes sending and receiving email

    incredibly easy.'
  version: 1.0.0
servers:
- url: https://api.postmarkapp.com/
tags:
- name: Bounces API
paths:
  /deliverystats:
    get:
      operationId: getDeliveryStats
      summary: Postmark Get delivery stats
      tags:
      - Bounces API
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        in: header
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryStatsResponse'
        422:
          $ref: '#/components/responses/422'
        500:
          $ref: '#/components/responses/500'
  /bounces:
    get:
      operationId: getBounces
      tags:
      - Bounces API
      summary: Postmark Get bounces
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        in: header
        schema:
          type: string
      - name: count
        in: query
        description: Number of bounces to return per request. Max 500.
        required: true
        schema:
          type: integer
          maximum: 500
      - name: offset
        description: Number of bounces to skip.
        in: query
        required: true
        schema:
          type: integer
      - name: type
        description: Filter by type of bounce
        in: query
        schema:
          type: string
          enum:
          - HardBounce
          - Transient
          - Unsubscribe
          - Subscribe
          - AutoResponder
          - AddressChange
          - DnsError
          - SpamNotification
          - OpenRelayTest
          - Unknown
          - SoftBounce
          - VirusNotification
          - MailFrontier Matador.
          - BadEmailAddress
          - SpamComplaint
          - ManuallyDeactivated
          - Unconfirmed
          - Blocked
          - SMTPApiError
          - InboundError
          - DMARCPolicy
          - TemplateRenderingFailed
      - name: inactive
        description: Filter by emails that were deactivated by Postmark due to the bounce. Set to true or false. If this isn't specified it will return both active and inactive.
        in: query
        schema:
          type: boolean
      - name: emailFilter
        in: query
        description: Filter by email address
        schema:
          type: string
          format: email
      - name: messageID
        description: Filter by messageID
        in: query
        schema:
          type: string
      - name: tag
        description: Filter by tag
        in: query
        schema:
          type: string
      - name: todate
        in: query
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        schema:
          type: string
          format: date
      - name: fromdate
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        in: query
        schema:
          type: string
          format: date
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BounceSearchResponse'
        422:
          $ref: '#/components/responses/422'
        500:
          $ref: '#/components/responses/500'
  /bounces/{bounceid}:
    get:
      operationId: getSingleBounce
      tags:
      - Bounces API
      summary: Postmark Get a single bounce
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        in: header
        schema:
          type: string
      - name: bounceid
        in: path
        description: The ID of the bounce to retrieve.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BounceInfoResponse'
        422:
          $ref: '#/components/responses/422'
        500:
          $ref: '#/components/responses/500'
  /bounces/{bounceid}/dump:
    get:
      tags:
      - Bounces API
      summary: Postmark Get bounce dump
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        in: header
        schema:
          type: string
      - name: bounceid
        in: path
        description: The ID for the bounce dump to retrieve.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BounceDumpResponse'
        422:
          $ref: '#/components/responses/422'
        500:
          $ref: '#/components/responses/500'
      operationId: getBouncesByBounceidDump
      x-operation-id-source: derived
  /bounces/{bounceid}/activate:
    put:
      operationId: activateBounce
      tags:
      - Bounces API
      summary: Postmark Activate a bounce
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        in: header
        schema:
          type: string
      - name: bounceid
        in: path
        description: The ID of the Bounce to activate.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BounceActivationResponse'
        422:
          $ref: '#/components/responses/422'
        500:
          $ref: '#/components/responses/500'
components:
  schemas:
    BounceActivationResponse:
      properties:
        Message:
          type: string
        Bounce:
          $ref: '#/components/schemas/BounceInfoResponse'
    BounceSearchResponse:
      description: ''
      properties:
        TotalCount:
          type: integer
        Bounces:
          type: array
          items:
            $ref: '#/components/schemas/BounceInfoResponse'
    BounceInfoResponse:
      properties:
        ID:
          type: string
        Type:
          type: string
        TypeCode:
          type: integer
        Name:
          type: string
        Tag:
          type: string
        MessageID:
          type: string
        Description:
          type: string
        Details:
          type: string
        Email:
          type: string
          format: email
        BouncedAt:
          type: string
          format: date-time
        DumpAvailable:
          type: boolean
        Inactive:
          type: boolean
        CanActivate:
          type: boolean
        Subject:
          type: string
        Content:
          type: string
    BounceCountElement:
      properties:
        Name:
          type: string
        Count:
          type: integer
        Type:
          type: string
    BounceDumpResponse:
      properties:
        Body:
          description: Raw source of bounce. If no dump is available this will return an empty string.
          type: string
    DeliveryStatsResponse:
      description: ''
      properties:
        InactiveMails:
          type: integer
        Bounces:
          type: array
          items:
            $ref: '#/components/schemas/BounceCountElement'
