openapi: 3.2.0
info:
  title: Postmark Server Inbound Rules API
  description: 'Postmark makes sending and receiving email

    incredibly easy.'
  version: 1.0.0
servers:
- url: https://api.postmarkapp.com/
tags:
- name: Inbound Rules API
paths:
  /triggers/inboundrules:
    post:
      operationId: createInboundRule
      tags:
      - Inbound Rules API
      summary: Postmark Create an inbound rule trigger
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        in: header
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  ID:
                    type: integer
                  Rule:
                    type: string
        422:
          $ref: '#/components/responses/422'
        500:
          $ref: '#/components/responses/500'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInboundRuleRequest'
    get:
      operationId: listInboundRules
      tags:
      - Inbound Rules API
      summary: Postmark List inbound rule triggers
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        in: header
        schema:
          type: string
      - name: count
        in: query
        required: true
        description: Number of records to return per request.
        schema:
          type: integer
      - name: offset
        in: query
        required: true
        description: Number of records to skip.
        schema:
          type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  TotalCount:
                    type: integer
                  InboundRules:
                    type: array
                    items:
                      properties:
                        ID:
                          type: integer
                        Rule:
                          type: string
                          format: email
        422:
          $ref: '#/components/responses/422'
        500:
          $ref: '#/components/responses/500'
  /triggers/inboundrules/{triggerid}:
    delete:
      operationId: deleteInboundRule
      tags:
      - Inbound Rules API
      summary: Postmark Delete a single trigger
      parameters:
      - name: X-Postmark-Server-Token
        required: true
        description: The token associated with the Server on which this request will operate.
        in: header
        schema:
          type: string
      - name: triggerid
        in: path
        description: The ID of the Inbound Rule that should be deleted.
        required: true
        schema:
          type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
        422:
          $ref: '#/components/responses/422'
        500:
          $ref: '#/components/responses/500'
components:
  schemas:
    StandardPostmarkResponse:
      description: A Postmark API error.
      properties:
        ErrorCode:
          type: integer
        Message:
          type: string
    CreateInboundRuleRequest:
      description: ''
      properties:
        Rule:
          format: email
          type: string
