openapi: 3.0.1
info:
  title: Postmark Account Activate Statistics API
  description: 'Postmark makes sending and receiving email incredibly easy. The Account-level API allows users to

    configure all Servers, Domains, and Sender Signatures associated

    with an Account.

    '
  version: 0.9.0
servers:
- url: //api.postmarkapp.com/
tags:
- name: Statistics
paths:
  /stats/outbound/clicks:
    get:
      tags:
      - Statistics
      summary: Postmark Get click counts
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/clicks/browserfamilies:
    get:
      tags:
      - Statistics
      summary: Postmark Get browser usage by family
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/clicks/location:
    get:
      tags:
      - Statistics
      summary: Postmark Get clicks by body location
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/clicks/platforms:
    get:
      tags:
      - Statistics
      summary: Postmark Get browser plaform usage
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/opens:
    get:
      tags:
      - Statistics
      summary: Postmark Get email open counts
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/opens/emailclients:
    get:
      tags:
      - Statistics
      summary: Postmark Get email client usage
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/opens/platforms:
    get:
      tags:
      - Statistics
      summary: Postmark Get email platform usage
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/opens/readtimes:
    get:
      tags:
      - Statistics
      summary: Postmark Get email read times
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound:
    get:
      tags:
      - Statistics
      summary: Postmark Get outbound overview
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/bounces:
    get:
      tags:
      - Statistics
      summary: Postmark Get bounce counts
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/sends:
    get:
      tags:
      - Statistics
      summary: Postmark Get sent counts
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/spam:
    get:
      tags:
      - Statistics
      summary: Postmark Get spam complaints
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /stats/outbound/tracked:
    get:
      tags:
      - Statistics
      summary: Postmark Get tracked email counts
      parameters:
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
