openapi: 3.0.1
info:
  title: Postmark Account Activate Bounces API
  description: 'Postmark makes sending and receiving email incredibly easy. The Account-level API allows users to

    configure all Servers, Domains, and Sender Signatures associated

    with an Account.

    '
  version: 0.9.0
servers:
- url: //api.postmarkapp.com/
tags:
- name: Bounces
paths:
  /bounces:
    get:
      tags:
      - Bounces
      summary: Postmark Get bounces
      parameters:
      - name: count
        in: query
        schema:
          type: string
        description: Number of bounces to return per request. Max 500.
        example: <integer>
      - name: offset
        in: query
        schema:
          type: string
        description: Number of bounces to skip.
        example: <integer>
      - name: type
        in: query
        schema:
          type: string
        description: Filter by type of bounce
        example: <string>
      - name: inactive
        in: query
        schema:
          type: string
        description: Filter by emails that were deactivated by Postmark due to the bounce. Set to true or false. If this isn't specified it will return both active and inactive.
        example: <boolean>
      - name: emailFilter
        in: query
        schema:
          type: string
        description: Filter by email address
        example: <string>
      - name: messageID
        in: query
        schema:
          type: string
        description: Filter by messageID
        example: <string>
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /bounces/tags:
    get:
      tags:
      - Bounces
      summary: Postmark Get bounced tags
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
