openapi: 3.0.1
info:
  title: Postmark Account Activate Inbound API
  description: 'Postmark makes sending and receiving email incredibly easy. The Account-level API allows users to

    configure all Servers, Domains, and Sender Signatures associated

    with an Account.

    '
  version: 0.9.0
servers:
- url: //api.postmarkapp.com/
tags:
- name: Inbound
paths:
  /messages/inbound/{messageid}/bypass:
    put:
      tags:
      - Inbound
      summary: Postmark Bypass rules for a blocked inbound message
      requestBody:
        content: {}
      parameters:
      - name: messageid
        in: path
        schema:
          type: string
        required: true
        description: The ID of the message which should bypass inbound rules.
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /messages/inbound/{messageid}/details:
    get:
      tags:
      - Inbound
      summary: Postmark Inbound message details
      parameters:
      - name: messageid
        in: path
        schema:
          type: string
        required: true
        description: The ID of the message which should bypass inbound rules.
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /messages/inbound/{messageid}/retry:
    put:
      tags:
      - Inbound
      summary: Postmark Retry a failed inbound message for processing
      requestBody:
        content: {}
      parameters:
      - name: messageid
        in: path
        schema:
          type: string
        required: true
        description: The ID of the message which should bypass inbound rules.
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /messages/inbound:
    get:
      tags:
      - Inbound
      summary: Postmark Inbound message search
      parameters:
      - name: count
        in: query
        schema:
          type: string
        description: Number of bounces to return per request. Max 500.
        example: <integer>
      - name: offset
        in: query
        schema:
          type: string
        description: Number of bounces to skip.
        example: <integer>
      - name: recipient
        in: query
        schema:
          type: string
        description: Filter by the user who was receiving the email
        example: <string>
      - name: fromemail
        in: query
        schema:
          type: string
        description: Filter by the sender email address
        example: <string>
      - name: subject
        in: query
        schema:
          type: string
        description: Filter by email subject
        example: <string>
      - name: mailboxhash
        in: query
        schema:
          type: string
        description: Filter by mailboxhash
        example: <string>
      - name: tag
        in: query
        schema:
          type: string
        description: Filter by tag
        example: <string>
      - name: status
        in: query
        schema:
          type: string
        description: Filter by status (`blocked`, `processed`, `queued`, `failed`, `scheduled`)
        example: <string>
      - name: todate
        in: query
        schema:
          type: string
        description: Filter messages up to the date specified. e.g. `2014-02-01`
        example: <string>
      - name: fromdate
        in: query
        schema:
          type: string
        description: Filter messages starting from the date specified. e.g. `2014-02-01`
        example: <string>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
